<a href="https://colab.research.google.com/github/scsin/stock_analysis/blob/master/mglu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and import libraries

In [2]:
!pip install yahoofinance

Collecting yahoofinance
  Downloading https://files.pythonhosted.org/packages/b2/7b/a669ed5e629a665a81f1c456b4d8bb45929913a4ddb34ec2c2eef10f9a37/yahoofinance-0.0.2-py3-none-any.whl
Requirement already satisfied: requests>=2.20.1 in /usr/local/lib/python3.6/dist-packages (from yahoofinance) (2.21.0)
Requirement already satisfied: beautifulsoup4>=4.6.3 in /usr/local/lib/python3.6/dist-packages (from yahoofinance) (4.6.3)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from yahoofinance) (0.25.3)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.1->yahoofinance) (1.24.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.1->yahoofinance) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.1->yahoofinance) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20.1->yahoofinance) (2019.9.11)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->yahoofinance) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->yahoofinance) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->yahoofinance) (2.6.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.23.4->yahoofinance) (1.12.0)
Installing collected packages: yahoofinance
Successfully installed yahoofinance-0.0.2

In [0]:
# Documentation: https://python-yahoofinance.readthedocs.io/en/latest/api.html#balance-sheet

import yahoofinance as yf
import pandas as pd
from datetime import datetime

# Stock definition, start date and end date

In [0]:
index = '^BVSP'
stock = 'MGLU3'
start_date = '2017-10-20'
end_date = datetime.today().date()

# Load data and analysis (Index)

In [44]:
index_load = yf.HistoricalPrices(f'{index}', f'{start_date}', f'{end_date}')

def load_index_data():
  save_csv = index_load.to_csv(f'{index}.csv')
  index_load_csv = pd.read_csv(f'{index}.csv')
  return round(index_load_csv.describe(), 1)

load_index_data()

           Open      High       Low     Close  Adj Close     Volume
count     520.0     520.0     520.0     520.0      520.0      520.0
mean    88647.9   89441.7   87895.5   88707.1    88707.1  4110776.5
std     10768.5   10773.1   10763.8   10780.3    10780.3  1330491.2
min     69811.0   70757.0   69069.0   69815.0    69815.0        0.0
25%     79166.8   79542.0   78609.8   79203.8    79203.8  3409250.0
50%     86383.0   87333.0   85682.5   86383.5    86383.5  4079000.0
75%     97610.5   98186.2   96889.8   97632.0    97632.0  4880775.0
max    109572.0  109672.0  108360.0  109581.0   109581.0  9999000.0

# Load data and analysis (Stock)

In [67]:
stock_load = yf.HistoricalPrices(f'{stock}.SA', f'{start_date}', f'{end_date}')

def load_stock_data():
  save_csv_hp = stock_load.to_csv(f'{stock}_hp.csv')
  stock_load_csv = pd.read_csv(f'{stock}_hp.csv')
  return round(stock_load_csv.describe(), 1)

load_stock_data()

        Open   High    Low  Close  Adj Close      Volume
count  523.0  523.0  523.0  523.0      523.0       523.0
mean    20.5   20.8   20.1   20.5       20.0  11873545.3
std      9.9   10.0    9.7    9.9       10.1   7411591.4
min      6.1    6.5    5.9    6.1        5.6         0.0
25%     12.5   12.7   12.2   12.6       12.0   7767400.0
50%     20.1   20.6   19.8   20.0       19.1  10131200.0
75%     23.7   24.1   23.3   23.7       23.7  13747200.0
max     48.1   48.8   44.9   47.2       47.2  90320800.0

# Balance Sheet

In [58]:
stock_bs = yf.BalanceSheet(f'{stock}.SA')

def load_balancesheet_data():
  save_csv_bs = stock_bs.to_csv(f'{stock}_bs.csv')
  stock_csv_bs = pd.read_csv(f'{stock}_bs.csv')
  return stock_csv_bs

load_balancesheet_data()

                           Period ending  Unnamed: 1  ...  2016-12-31  2015-12-31
0                                 Assets         NaN  ...         NaN         NaN
1              Cash And Cash Equivalents         NaN  ...   599141000   617465000
2                 Short Term Investments         NaN  ...   818984000   497623000
3                        Net Receivables         NaN  ...   857173000   855721000
4                              Inventory         NaN  ...  1596743000  1353092000
5                   Other Current Assets         NaN  ...    47802000    36614000
6                   Total Current Assets         NaN  ...  3919843000  3360515000
7                  Long Term Investments         NaN  ...   294001000   344197000
8           Property Plant and Equipment         NaN  ...   560067000   578571000
9                               Goodwill         NaN  ...   385725000   386227000
10                     Intangible Assets         NaN  ...   127324000   120493000
11              Accumulated Amortization         NaN  ...           -           -
12                          Other Assets         NaN  ...   813646000   711978000
13      Deferred Long Term Asset Charges         NaN  ...           -           -
14                          Total Assets         NaN  ...  6100606000  5501981000
15                           Liabilities         NaN  ...         NaN         NaN
16                      Accounts Payable         NaN  ...  2364959000  1894157000
17          Short/Current Long Term Debt         NaN  ...   838016000   568350000
18             Other Current Liabilities         NaN  ...   275651000   256580000
19             Total Current Liabilities         NaN  ...  3672426000  2874782000
20                        Long Term Debt         NaN  ...  1010760000  1254960000
21                     Other Liabilities         NaN  ...   795834000   796583000
22  Deferred Long Term Liability Charges         NaN  ...           -           -
23                     Minority Interest         NaN  ...           -           -
24                     Negative Goodwill         NaN  ...           -           -
25                     Total Liabilities         NaN  ...  5479020000  4926325000
26                                Equity         NaN  ...         NaN         NaN
27         Misc. Stocks Options Warrants         NaN  ...           -           -
28            Redeemable Preferred Stock         NaN  ...           -           -
29                       Preferred Stock         NaN  ...           -           -
30                          Common Stock         NaN  ...   606505000   606505000
31                     Retained Earnings         NaN  ...    23578000   -34214000
32                        Treasury Stock         NaN  ...    -8497000     3365000
33                       Capital Surplus         NaN  ...           -           -
34              Other Stockholder Equity         NaN  ...    20232000    12939000
35              Total Stockholder Equity         NaN  ...   621586000   575656000
36                   Net Tangible Assets         NaN  ...   108537000    68936000

[37 rows x 6 columns]

# Cash Flow

In [60]:
stock_cf = yf.CashFlow(f'{stock}.SA')

def load_cashflow_data():
  save_csv_cf = stock_cf.to_csv(f'{stock}_cf.csv')
  stock_csv_cf = pd.read_csv(f'{stock}_cf.csv')
  return stock_csv_cf

load_cashflow_data()

                                 Period ending  ...  2015-12-31
0                                      Overall  ...         NaN
1                                   Net Income  ...   -65605000
2                         Operating activities  ...         NaN
3                                 Depreciation  ...    84727000
4                    Adjustments to net income  ...   239922000
5               Changes in accounts receivable  ...   113211000
6                       Changes in liabilities  ...   104259000
7                         Changes in inventory  ...    54839000
8        Changes in other operating activities  ...    35779000
9    Total cash flow from operating activities  ...   462790000
10                       Investment activities  ...         NaN
11                         Capital expenditure  ...   -98472000
12                                 Investments  ...   -30000000
13  Other cash flow from investment activities  ...   -11182000
14  Total cash flow from investment activities  ...    60849000
15                        Financing activities  ...         NaN
16                              Dividends paid  ...   -33484000
17                      Sale purchase of stock  ...           -
18                              Net borrowings  ...   -47587000
19   Other cash flow from financing activities  ...  -221690000
20   Total cash flow from financing activities  ...  -318344000
21                             Changes in Cash  ...         NaN
22             Effect of exchange rate changes  ...           -
23         Change in cash and cash equivalents  ...   205295000

[24 rows x 6 columns]

# Income Statement

In [61]:
stock_is = yf.IncomeStatement(f'{stock}.SA')

def load_incomestatement_data():
  save_csv_is = stock_is.to_csv(f'{stock}_is.csv')
  stock_csv_is = pd.read_csv(f'{stock}_is.csv')
  return stock_csv_is

load_incomestatement_data()

                             Period ending  Unnamed: 1  ...  2016-12-31  2015-12-31
0                                  Revenue         NaN  ...         NaN         NaN
1                            Total Revenue         NaN  ...  9508745000  8978259000
2                          Cost of Revenue         NaN  ...  6586130000  6399630000
3                             Gross Profit         NaN  ...  2922615000  2578629000
4                       Operating Expenses         NaN  ...         NaN         NaN
5                     Research Development         NaN  ...           -           -
6       Selling General and Administrative         NaN  ...           -           -
7                            Non Recurring         NaN  ...           -           -
8                                   Others         NaN  ...   -41145000   -48829000
9                 Total Operating Expenses         NaN  ...  8957281000  8671732000
10                Operating Income or Loss         NaN  ...   551464000   306527000
11       Income from Continuing Operations         NaN  ...         NaN         NaN
12         Total Other Income/Expenses Net         NaN  ...  -474368000  -453656000
13      Earnings Before Interest and Taxes         NaN  ...   551464000   306527000
14                        Interest Expense         NaN  ...  -289990000  -304606000
15                       Income Before Tax         NaN  ...    77096000  -147129000
16                      Income Tax Expense         NaN  ...    -9469000   -81524000
17                       Minority Interest         NaN  ...           -           -
18          Net Income From Continuing Ops         NaN  ...    86565000   -65605000
19                    Non-recurring Events         NaN  ...         NaN         NaN
20                 Discontinued Operations         NaN  ...           -           -
21                     Extraordinary Items         NaN  ...           -           -
22            Effect Of Accounting Changes         NaN  ...           -           -
23                             Other Items         NaN  ...           -           -
24                              Net Income         NaN  ...         NaN         NaN
25                              Net Income         NaN  ...    86565000   -65605000
26   Preferred Stock And Other Adjustments         NaN  ...           -           -
27  Net Income Applicable To Common Shares         NaN  ...    86565000   -65605000

[28 rows x 6 columns]