<a href="https://colab.research.google.com/github/scsin/stock_analysis/blob/master/wtd_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and import libraries

In [0]:
!pip install ipython-secrets && install gsheet-keyring

In [0]:
import pandas as pd
import datetime
import requests
from ipython_secrets import *

# Stock definition, start date and end date

In [0]:
stock = 'MGLU3'
start_date = '2019-11-01'
end_date = datetime.date.today()

# API Get and save response in csv file

In [0]:
req = requests.get(f'https://api.worldtradingdata.com/api/v1/history?symbol={stock}.SA&date_from={start_date}&date_to={end_date}&api_token={my_wtd_token}&output=csv')

with open(f"{stock}.csv",'wb') as f: 
    f.write(req.content) 

stock_csv_load = pd.read_csv(f'{stock}.csv')

# Describe data

In [116]:
def get_describe():
  return stock_csv_load.describe()

get_describe()

            Open      Close       High        Low        Volume
count  16.000000  16.000000  16.000000  16.000000  1.600000e+01
mean   44.722500  44.557500  45.478750  43.660625  1.537610e+07
std     1.283918   1.147818   1.294717   0.977538  6.200189e+06
min    42.700000  42.500000  42.880000  41.700000  8.833400e+06
25%    44.027500  43.982500  45.015000  43.040000  1.069422e+07
50%    44.920000  44.380000  45.380000  43.525000  1.189500e+07
75%    45.230000  45.065000  45.742500  44.262500  1.934610e+07
max    48.140000  47.190000  48.790000  45.700000  2.765530e+07

# Get data intervals (Date, Close)

In [115]:
def get_date_close():
  return stock_csv_load.get(['Date', 'Close'])

get_date_close()

          Date  Close
0   2019-11-26  43.08
1   2019-11-25  44.30
2   2019-11-22  45.49
3   2019-11-21  45.00
4   2019-11-19  44.46
5   2019-11-18  44.98
6   2019-11-14  44.25
7   2019-11-13  42.50
8   2019-11-12  43.40
9   2019-11-11  45.02
10  2019-11-08  43.81
11  2019-11-07  44.20
12  2019-11-06  45.20
13  2019-11-05  44.04
14  2019-11-04  46.00
15  2019-11-01  47.19