<a href="https://colab.research.google.com/github/scsin/stock_analysis/blob/master/wtd_api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Install and import libraries

In [0]:
!pip install ipython-secrets && install gsheet-keyring

In [0]:
import pandas as pd
import datetime
import requests
from ipython_secrets import *

# Stock definition, start date and end date

In [0]:
index = '^IBOV'
stock = 'MGLU3'
start_date = '2019-11-01'
end_date = datetime.date.today()

# API Get and save response in csv file

In [0]:
req_index = requests.get(f'https://api.worldtradingdata.com/api/v1/history?symbol={index}&date_from={start_date}&date_to={end_date}&api_token={my_wtd_token}&output=csv')

req = requests.get(f'https://api.worldtradingdata.com/api/v1/history?symbol={stock}.SA&date_from={start_date}&date_to={end_date}&api_token={my_wtd_token}&output=csv')

with open(f"{index}.csv", "wb") as f:
  f.write(req_index.content)
  
with open(f"{stock}.csv",'wb') as f: 
  f.write(req.content)

index_csv_load = pd.read_csv(f'{index}.csv')
stock_csv_load = pd.read_csv(f'{stock}.csv')

# Describe index

In [170]:
def get_describe_index():
  return round(index_csv_load.describe(), 2)

get_describe_index()

            Open      Close       High        Low  Volume
count      16.00      16.00      16.00      16.00    16.0
mean   107684.60  107675.31  108396.47  106866.01     0.0
std      1123.36    1129.51    1022.02    1030.38     0.0
min    105866.12  105864.18  106757.61  105260.78     0.0
25%    106704.84  106702.55  107513.57  106140.45     0.0
50%    107908.72  107912.30  108460.00  106970.09     0.0
75%    108491.02  108491.02  109345.18  107604.12     0.0
max    109572.16  109580.57  109671.91  108360.22     0.0

# Get index intervals (Date, Close)

In [171]:
def get_date_close_index():
  return index_csv_load.get(['Date', 'Close'])

get_date_close_index()

          Date      Close
0   2019-11-26  107059.40
1   2019-11-25  108423.93
2   2019-11-22  108692.28
3   2019-11-21  107496.73
4   2019-11-19  105864.18
5   2019-11-18  106269.25
6   2019-11-14  106556.88
7   2019-11-13  106059.95
8   2019-11-12  106751.11
9   2019-11-11  108367.44
10  2019-11-08  107628.98
11  2019-11-07  109580.57
12  2019-11-06  108360.22
13  2019-11-05  108719.02
14  2019-11-04  108779.33
15  2019-11-01  108195.63

# Describe data

In [172]:
def get_describe():
  return round(stock_csv_load.describe(), 2)

get_describe()

        Open  Close   High    Low      Volume
count  16.00  16.00  16.00  16.00        16.0
mean   44.72  44.56  45.48  43.66  15376100.0
std     1.28   1.15   1.29   0.98   6200188.7
min    42.70  42.50  42.88  41.70   8833400.0
25%    44.03  43.98  45.02  43.04  10694225.0
50%    44.92  44.38  45.38  43.53  11895000.0
75%    45.23  45.06  45.74  44.26  19346100.0
max    48.14  47.19  48.79  45.70  27655300.0

# Get data intervals (Date, Close)

In [173]:
def get_date_close():
  return stock_csv_load.get(['Date', 'Close'])

get_date_close()

          Date  Close
0   2019-11-26  43.08
1   2019-11-25  44.30
2   2019-11-22  45.49
3   2019-11-21  45.00
4   2019-11-19  44.46
5   2019-11-18  44.98
6   2019-11-14  44.25
7   2019-11-13  42.50
8   2019-11-12  43.40
9   2019-11-11  45.02
10  2019-11-08  43.81
11  2019-11-07  44.20
12  2019-11-06  45.20
13  2019-11-05  44.04
14  2019-11-04  46.00
15  2019-11-01  47.19